.body {
    align-content: center;
    text-align: center;
}
/* 样式化左侧標題选项 */
.title-options {
    float: left;
    width: 20%; /* 左侧宽度 */
    padding: 10px;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    overflow-y: auto; /* 使得内容溢出时出现滚动条 */
}

/* 样式化右侧内容区域 */
.content-area {
    float: left;
    width: 80%; /* 右侧宽度 */
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto; /* 使得内容溢出时出现滚动条 */
    height: 200px;
    overflow: auto;
}

/* 鼠标悬停样式 */
.title-options:hover {
    background-color: lightblue;
}

/* 標題项样式 */
.title-item {
    cursor: pointer;
    margin-bottom: 10px;
}

    /* 选中標題项样式 */
    .title-item.active {
        font-weight: bold;
        color: #007bff;
    }

.display-4 {
    font-family: 'Bookman Old Style';
    font-size: 72px;
    font-style: oblique;
}
.pBody{
    height:100px;
    width:auto;
    background-color:red;
}
h1{
    font-family:'Californian FB';
    align-content:center;
    text-align:center;
    font-size:72px;
}
.container {
    position: relative;
}
.buttom{
    margin: 10 10 10 10 ;
    position:absolute;
}
.stick {
    background: #98bf21;
    height: 50px;
    width: 200px;
}
.stick::after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 30px; /* 调整箭头的长度 */
    height: 50px;
    background: #98bf21; /* 箭头的颜色 */
    clip-path: polygon(0 0, 100% 50%, 0 100%); /* 创建一个朝右的三角形 */
}
