@{
    ViewData["Title"] = "TestPage Number 2";
}
<h1>@ViewData["Title"]</h1>
<div class="body">

    <div class="pBody">

    </div>
    <br />
    <br />
    <div class="buttom">
        <button>Click This Button Hide Red</button>
    </div>
    <br />
    <br />

    <div class="container">
        <div class="stick"></div>
    </div>



    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <p>Use this page to detail your site's privacy policy.</p>

</div>
